<div class="separador" ng-hide="binding()">
	<div class="section-title">
		<div class="postInfo">
			<h2>Panel de Administración</h2>
		</div>
		<div class="postActions">
			
				<i class="fa fa-cogs" title="Panel de Administración"></i></i>
		</div>
	</div>
	<div class="admin-settings" ng-show="isAdmin()">
		<div class="chat-settings">
			<form ng-submit="loadOldChat()">
				<h4 class="text text-primary"><b><i class="fa fa-commenting" title="Chat"></i> Chat:</b></h4>
				<div class="consult-from">
					<span class="label-consult">Desde:</span>
			      <div class="form-group form-group-date" ng-class="{error: error, success:success}">
			        <input type="date" class="form-control"  ng-model="From">
			      </div>
			      <div class="form-group form-group-time" ng-class="{error: error, success:success}">
			        <input type="time" class="form-control"  ng-model="From">
			      </div>
			  	</div>
			  	<div class="consult-from">
					<span class="label-consult">Hasta:</span>
			      <div class="form-group form-group-date" ng-class="{error: error, success:success}">
			        <input type="date" class="form-control"  ng-model="To">
			      </div>
			      <div class="form-group form-group-time" ng-class="{error: error, success:success}">
			        <input type="time" class="form-control"  ng-model="To">
			      </div>
			  	</div>
			  	<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Consultar conversaciones antiguas</button>
			  </form>
			  <button ng-click="unloadStock()" class="btn btn-danger"><i class="fa fa-trash"></i> Borrar Consulta</button>
			  <div class="stockChat-content" ng-show="stockLoaded">
			  <ul>
			  	<li ng-repeat="message in stockChat | orderBy : 'date' | startFrom:currentPage*pageSize | limitTo:pageSize" ng-class="{system:message.system}">
			  		<small class="fecha">[{{fechar(message.date) | date:'dd-MM-yyyy'}} | {{fechar(message.date) | date:'HH:mm'}}]</small><span class="stockChat-username"> {{message.username}}:</span>{{message.content}}
			  	</li>
			  </ul>


				

			<!--
			<form ng-submit="deleteChat()">
				<h4 class="text text-primary"><b><i class="fa fa-commenting" title="Chat"></i> Chat:</b></h4>
				<p>Borrar Mensajes del Chat hasta:</p>
			      <div class="form-group form-group-date" ng-class="{error: error, success:success}">
			        <input type="date" class="form-control"  ng-model="today">
			      </div>
			      <div class="form-group form-group-time" ng-class="{error: error, success:success}">
			        <input type="time" class="form-control"  ng-model="today">
			    </div>
			-->
<!-- 
			      <small class="fecha" title="Hora Borrado"> [{{fechar(today) | date:'dd-MM-yyyy'}} a las {{fechar(today) | date:'HH:mm'}}]</small>
			       -->
			      <!-- <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Borrar Mensajes</button>
			      <p ng-show="error" class="text-danger error-password"><i class="fa fa-exclamation-triangle"></i> {{mensajeResetPassword}}</p>
			      <p ng-show="success" class="text-success success-password"><i class="fa fa-check"></i> {{mensajeResetPassword}}</p>
			      <p class="text text-danger delete-chat-info"><i class="fa fa-exclamation-triangle"></i> <small>
			      	<b>Los mensajes borrados no podrán ser recuperados posteriormente.</b><br />(Ejecutar esta acción sólo ante problemas de rendimiento de la aplicación)</small>
			      </p> 
		    </form>
		-->
	</div>
		<div class="pagination-chat">
			<ul class="left-menu" ng-show="numberOfPages()>1">
						<li>
							<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-primary prevPage">
						        <i class="fa fa-arrow-left"></i> Anterior
						    </button>
						</li>
				    	<li class="post-Paginate">
						    {{currentPage+1}}/{{numberOfPages()}}
						</li>
						<li>
						    <button ng-disabled="currentPage >= numberOfPages() -1" ng-click="currentPage=currentPage+1" class="btn btn-primary nextPage">
						        Siguiente <i class="fa fa-arrow-right"></i>
						    </button>
						</li>
					</ul>
			</div>
		</div>
		<hr>
		<div class="user-settings">
			<h4 class="text text-primary"><b><i class="fa fa-users" title="Usuarios"></i> Usuarios:</b></h4>
			<ul class="users-registred">
				<li ng-repeat="user in users | orderBy : 'username'" class="user-admin">
					<div class="users-avatar"> 
						<a ng-href="#/profile/{{user.uid}}" alt="Ver el perfil de {{user.username}}" title="Ver el perfil de {{user.username}}"><img gravatar-src="user.email" gravatar-size="20" gravatar-default="retro"></a>
					</div>
					<div class="user-data">
						<a ng-href="#/profile/{{user.uid}}" alt="Ver el perfil de {{user.username}}" title="Ver el perfil de {{user.username}}">{{user.username}}</a>
					</div>
					<div class="user-options" ng-hide="user.rango=='admin'">
						<ul>
							<li>
								<a ng-hide="user.silenced" ng-click="silenciar(user.uid, true)" title="Silenciar a {{user.username}}"><i class="fa fa-commenting"></i></a>
								<a ng-show="user.silenced" ng-click="silenciar(user.uid, false)" title="Permitir hablar a {{user.username}}"><i class="fa fa-comment-o"></i></a>
							</li>
							<li>
								<a ng-hide="user.blind" ng-click="cegar(user.uid, true)" title="Cegar a {{user.username}}"><i class="fa fa-eye"></i></a>
								<a ng-show="user.blind" ng-click="cegar(user.uid, false)" title="Permitir ver a {{user.username}}"><i class="fa fa-eye-slash"></i></a>
							</li>
							<li>
								<a ng-click="eliminar(user.uid)" title="Eliminar a {{user.username}}"><i class="fa fa-trash text-danger"></i></a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<hr>
		<div class="posts-settings">
			<h4 class="text text-primary"><b><i class="fa fa-file-text"></i> Posts:</b></h4>
			<div class="section-select">
				Selecciona una sección:	<br />	
				<select class="btn btn-primary" ng-model="section_selected" ng-options="section.title for section in sections" ng-change="loadSection(section_selected)"></select>
			</div>
			<div class="section-loaded">
				<ul>
					<li ng-repeat="post in postLoaded" class="post-admin">
						<div class="post-title">
							<span class="text text-primary">{{post.title}}</span>
						</div>
						<div class="post-options" ng-hide="user.rango=='admin'">
						<ul>
							
							<li>
								<a ng-click="open(post)" ng-hide="post.open" alt="Reabrir el post {{post.title}}" title="Reabrir el post {{post.title}}"><i class="fa fa-unlock"></i></a>
								<a ng-click="close(post)" ng-show="post.open" alt="Cerrar el post {{post.title}}" title="Cerrar el post {{post.title}}"><i class="fa fa-lock"></i></a>
							</li>
							<li>
								<a ng-click="deletePost(post)" alt="Borrar el Hilo" title="Borrar el Hilo" class="text-danger"><i class="fa fa-trash"></i></a>
							</li>
						</ul>
					</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="admin-settings" ng-hide="isAdmin()">
		<span class="text text-danger"><i class="fa fa-exclamation-triangle"></i> Este panel sólo está disponible para los <b>administradores</b>.</span>
		<a class="button-top-right"ng-href="#/" alt="" title="Volver al Foro"><button class="btn btn-success">Volver al Foro</button></a>
	</div>
	<!-- <div class="postDetail-actions">
		
	</div> -->
</div>