<div id="migasDePan">
	<small><a ng-href="#/" alt="Volver al Inicio" title="Volver al Inicio">Inicio</a> / Chat</small> 
</div>
<div class="separador" ng-show="signedIn()" ng-hide="profile.blind">	
	<div class="section-title">
		<div class="postInfo">
			<h2>Chat de CAOS
			</h2>
		</div>
		<div class="postActions">
			
				<i class="fa fa-weixin" title="Chat"></i>
		</div>
	</div>
	<div id="chatContent" scroll-chat="conversacion" ng-show="autentified()">
		<div class="chat-entry" ng-repeat="entrada in conversacion | orderBy : 'date' | actualMessages:enterTime" ng-class="{system:entrada.system}" >
			<div class="chat-user">
				<div class="users-avatar" ng-hide="entrada.system"> 
					<img gravatar-src="entrada.email" gravatar-size="30" gravatar-default="retro">
				</div>
				 {{entrada.username}} <small class="fecha">[{{fechar(entrada.date) | date:'HH:mm'}}]</small> :

			</div>
			<div class="chat-message" ng-bind-html="entrada.content | embed:{linkTarget :'_blank'}" >
				<!-- <div class="chat-message" ng-bind-html="entrada.content | url2img | embed:{linkTarget :'_blank'}" > -->
				{{entrada.content}}
			</div>
			<!--
			<div class="enterTheChat">
				{{entrada.entered.username}} ha entrado en la sala.
			</div>
			-->
		</div>
	</div>
	<div id="chatUsers">
		<ul>
			<li ng-repeat="user in conectados">
				
				<!--
				<div class="user-connected">	
					<i class="fa fa-circle green" ng-show="isConnected(user.lastConnection)" title="Conectado el {{fechar(user.lastConnection) | date:'dd-MM-yyyy'}} a las {{fechar(user.lastConnection) | date:'HH:mm'}}"></i> 
					<i class="fa fa-circle ausente" ng-hide="isConnected(user.lastConnection)" title="Desconectado el {{fechar(user.lastConnection) | date:'dd-MM-yyyy'}} a las {{fechar(user.lastConnection) | date:'HH:mm'}}"></i>
				</div>
				-->
				<div class="nav-user-status">
					<ul>
		    			<li ng-show="userBlinded(user.profile.blind)" class="chat-user-status">
		    				<i class="fa fa-eye-slash" title="Usuario Cegado"></i>
		    			</li>
		    			<li ng-show="user.profile.silenced" class="chat-user-status">
		    				<i class="fa fa-microphone-slash" title="Usuario Silenciado"></i>
		    			</li>
	    			</ul>
	    		</div>
				<div class="users-avatar" ng-class="isConnected(user.lastConnection)"> 
					<a ng-href="#/profile/{{user.uid}}" alt="Ver perfil de {{user.username}}" title="Ver perfil de {{user.username}}">
						<img gravatar-src="user.email" gravatar-size="30" gravatar-default="retro">
					</a>
				</div>
				<div class="users-data" ng-class="isConnected(user.lastConnection)">
					<a ng-href="#/profile/{{user.uid}}" alt="Ver perfil de {{user.username}}" title="Ver perfil de {{user.username}}">{{user.username}}</a> <small>({{user.rango}})</small>
					<br />

					<!-- <span class="fecha"><small>[{{fechar(user.lastConnection) | date:'dd-MM-yyyy'}} a las {{fechar(user.lastConnection) | date:'HH:mm'}}]</small></span> -->
				</div>
			</li>
		</ul>
	</div>
	<div id="chat-form" class="input-group">
		<div id="emoti-panel" ng-show="mostrandoEmotis">
			<ul class="emoti-icons">
				<li ng-repeat="face in faces | startFrom:currentPage*pageSize | limitTo:pageSize">
					<a ng-click="addEmoti(face.content)" ng-bind-html="face.content | embed:{linkTarget :'_blank'}">{{face.content}}</a>
				</li>
			</ul>
			<ul class="paginate-emoti" ng-show="numberOfPages()>1">
				<li>
					<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-primary prevPage">
						        <i class="fa fa-arrow-left"></i> Anterior
						  </button>
				</li>
				   <li class="post-Paginate">
						  {{currentPage+1}}/{{numberOfPages()}}
				</li>
				<li>
						  <button ng-disabled="currentPage >= faces.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-primary nextPage">
						        Siguiente <i class="fa fa-arrow-right"></i>
						  </button>
				</li>
			</ul>
		</div>
		<form ng-submit="sendMessage()" ng-hide="silenced()">
			<!-- <i class="fa fa-weixin" title="Chat"></i>  -->
			<a ng-click="showEmotis()" class="show-emotis"><i class="emoticon emoticon-smile" title="Añadir emoticono"></i></a>
			<input type="text" class="form-control campo" ng-model="message" placeholder="Escribe un mensaje" ng-focus="true"id="campoEntrada" name="campoEntrada" autocomplete="off">
			<span class="input-group-btn">
				<!-- <input type="submit" value="Enviar" class="btn btn-primary"/> -->
								<button class="btn btn-primary" type="submit">Enviar</button>
			</span>
		</form>
	</div>
</div>