<div class="separador">
	<div class="section-title">
		<div class="postInfo">
			<h2>Resetear contraseña</h2>
		</div>
		<div class="postActions">
			
				<i class="fa fa-life-ring" title="Usuario no conectado"></i>
		</div>
	</div>
	<div class="unlogged">
		<p>
			<span class="text text-primary"><i class="fa fa-info-circle"></i> Si no recuerdas tu contraseña, introduce tu correo electrónico para que podamos enviarte una nueva.</span>
		</p>
		<form ng-submit="resetPassword()">
		      <div class="form-group" ng-class="{error: error, success:success}">
		        <input type="email" class="form-control" placeholder="Email" ng-model="email" >
		      </div>
		      <button type="submit" class="btn btn-danger">Resetear Contraseña</button>
		      <p ng-show="error" class="text-danger error-password"><i class="fa fa-exclamation-triangle"></i> {{mensajeResetPassword}}</p>
		      <p ng-show="success" class="text-success success-password"><i class="fa fa-check"></i> {{mensajeResetPassword}}</p>
	    </form>
	</div>
	<!-- <div class="postDetail-actions">
		
	</div> -->
</div>
