<div class="separador">
	<div class="section-title">
		<div class="postInfo">
			<h2>Resetear contraseña</h2>
		</div>
		<div class="postActions">
			
				<i class="fa fa-life-ring" title="Usuario no conectado"></i>
		</div>
	</div>
	<div class="unlogged">
		<p>
			<span class="text text-primary"><i class="fa fa-info-circle"></i> Si no recuerdas tu contraseña, introduce tu correo electrónico para que podamos enviarte una nueva.</span>
		</p>
	</div>
	<!-- <div class="postDetail-actions">
		
	</div> -->
</div>
