<div class="container">
	<nav class="navbar navbar-default" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#/" alt="Ir al Inicio" title="Ir al Inicio"><h1>CAOS <small>Foro</small></h1></a>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div ng-controller="NavCtrl" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  	<!--
	    <form class="navbar-form navbar-left" role="search" ng-submit="submitPost()" ng-show="signedIn()">
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Title" ng-model="post.title">
	      </div>
	      <div class="form-group">
	      <input type="text" class="form-control" placeholder="Link" ng-model="post.url">
	      </div>
	      <button type="submit" class="btn btn-default">Submit</button>
	    </form>
	     -->
	    <ul class="nav navbar-nav navbar-right" ng-show="signedIn()">
	    	<li class="user-loged">
	    		<div class="users-avatar"> 
	    			<a ng-href="#/profile/{{profile.$id}}" alt="Ir a tu perfil" title="Ir a tu perfil">
						<img gravatar-src="profile.email" gravatar-size="30" gravatar-default="retro">
					</a>
				</div>
				<div class="nav-user-info">
		    		<span>Hola <a ng-href="#/profile/{{profile.$id}}" alt="Ir a tu perfil" title="Ir a tu perfil">{{profile.username}}</a></span><br /><small>{{profile.email}}</small>
		    	</div>
	    	</li>
	    	<li ng-show="isAdmin()">
	    		<a class="new-top" ng-href="#/register">
	    			<i class="fa fa-user-plus"></i> Crear Nuevo Usuario
	    		</a>
	    	</li>
	    	<li>
	    		<a class="new-top" ng-href="#/chat" title="Ir al chat" alt="Ir al chat">
	    			<i class="fa fa-weixin"></i> Chat
	    		</a>
	    	</li>
	    	<li>
	    		<button ng-href="#" class="btn btn-danger" ng-click="logout()" title="Desconectarse">Salir</button>
	    	</li>
	    </ul>
	    <div ng-hide="signedIn()" class="navbar-form navbar-right">
	    	<ul class="nav navbar-nav navbar-right">
	    		<li>
	    			
	    	<form ng-submit="login()">
		      <div class="form-group">
		        <input type="email" class="form-control" placeholder="Email" ng-model="user.email">
		      </div>
		      <div class="form-group">
		      <input type="password" class="form-control" placeholder="Contraseña" ng-model="user.password">
		      </div>
		      <button type="submit" class="btn btn-default">Entrar</button>
		      <p ng-show="error" class="text-danger error-login">{{mensajeDeError}}</p>
	    	</form>
	    		</li>
	    		 <!-- <li><a class="btn-default" ng-href="#/login">Conectarse</a></li>-->
	    		
	    	</ul>
	    </div>
	    <!--
		<form ng-hide="signedIn()" ng-submit="login()">
			<input type="email" ng-model="user.email" placeholder="Email" class="form-control" />
			<input type="password" ng-model="user.password" placeholder="Password" class="form-control" />
			<input type="submit" value="Entrar" class="btn btn-primary"/>
		</form>
	    -->
	  </div><!-- /.navbar-collapse -->
	</nav>
</div>