<div id="migasDePan">
		<small><a ng-href="#/" alt="Volver al Inicio" title="Volver al Inicio">Inicio</a> / 
			{{profile.username}}
		</small>
	</div>
<div class="separador" >	
	<div class="section-title">
		<div class="postInfo">
			<h2>{{profile.username}}
			</h2>
		</div>
		<div class="postActions">
			
				<i ng-show="profile.rango=='user'"class="fa fa-user help-info" title="Usuario"></i>
				<i ng-show="profile.rango=='admin'"class="fa fa-user-plus help-info" title="Administrador"></i>
			<!--	<i class="glyphicon glyphicon-arrow-right"></i> -->
		</div>
	</div>
	<div id="profileContent" ng-hide="ownProfile.blind">
		<div class="profile-status text text-danger">
				<ul>
	    			<li ng-show="profile.blind">
	    				<i class="fa fa-eye-slash" title="Usuario Cegado"></i>
	    			</li>
	    			<li ng-show="profile.silenced">
	    				<i class="fa fa-microphone-slash" title="Usuario Silenciado"></i>
	    			</li>
	    		</ul>
			</div>
		<div id="profileImage">
			<img gravatar-src="profile.email" gravatar-size="150" gravatar-default="retro">
		</div>
		<div id="profileData">
			<h3>{{profile.username}}<br />
			<small>{{profile.email}}</small></h3>
			<a ng-href="#/">
				<button class="btn btn-success">
					Volver al Inicio
				</button>
			</a>
			<p>Rango: <span class="text text-primary"><b>{{profile.rango}}</b></span>	<br />
				Última conexión:<br />
				<div ng-show="profile.lastConnection!==undefined">
					<i class="fa fa-circle green" ng-show="isConnected(profile.lastConnection)" title="Conectado el {{fechar(profile.lastConnection) | date:'dd-MM-yyyy'}} a las {{fechar(profile.lastConnection) | date:'HH:mm'}}"></i> 
					<i class="fa fa-circle gray" ng-hide="isConnected(profile.lastConnection)" title="Desconectado el {{fechar(profile.lastConnection) | date:'dd-MM-yyyy'}} a las {{fechar(profile.lastConnection) | date:'HH:mm'}}"></i> 
					<span class="fecha">
						<small>
							[{{fechar(profile.lastConnection) | date:'dd-MM-yyyy'}} a las {{fechar(profile.lastConnection) | date:'HH:mm'}}]
						</small>
					</span>
				</div>
				<div ng-hide="profile.lastConnection!==undefined" class="fecha">
					<small>
					<i class="fa fa-circle gray" title="El usuario no se ha conectado nunca"></i> [Ninguna Conexión]</small>
				</div>
			</p>
		</div>
		<div id="Options">
			
			<div ng-show="avatarOptions">
				<h4>Cambiar el avatar:</h4>
				Cambiar la imagen del perfil es muy sencillo, sólo debes tener una cuenta en <a href="https://es.gravatar.com/" target="_blank" title="Ir a Gravatar" alt="Ir a Gravatar">Gravatar</a> asociada a la misma dirección de email que el foro. Si todavía no la tienes, consíguela <a href="https://es.gravatar.com/" target="_blank" title="Ir a Gravatar" alt="Ir a Gravatar">aquí</a>.<br />

				<span class="text text-danger alert">
					<i class="fa fa-exclamation-triangle"></i><small> Recuerda que debes usar el mismo el mismo correo electrónico que usas en el foro.</small>
				</span>
			</div>
			<div ng-show="passwordOptions" >
				<h4>Cambiar la contraseña:</h4>
					<form ng-submit="changePassword()">
						<input type="password" ng-model="passwordUpdate.oldPassword" placeholder="Contraseña actual" class="form-control" ng-class="{error: errorNumber==2}" />
						<input type="password" ng-model="passwordUpdate.newPassword" placeholder="Nueva contraseña" class="form-control" ng-class="{error: errorNumber==1}" />
						<input type="password" ng-model="passwordUpdate.newPassword2" placeholder="Repite la contraseña" class="form-control" ng-class="{error: errorNumber==1}" /><br />
						<div ng-show="error" class="text-danger error-login error-pass"><i class="fa fa-exclamation-triangle"></i> {{mensajeDeError}}</div>
						<div ng-show="success" class="text-success error-login error-pass"><i class="fa fa-check"></i> Contraseña cambiada correctamente</div>
						<input type="submit" value="Cambiar contraseña" class="btn btn-danger floatRight"/>
					</form>
			</div>
			<div ng-show="profileOptions" class="links-profile">
				<h4>Actividad de {{profile.username}}:</h4>
				<a ng-click="scrollTo('createdPost')" alt="Ver los post creados por {{profile.username}}" title="Ver los post creados por {{profile.username}}"><span class="data-options">{{created}} </span><span class="label-options">Post creados.</span></a> <br />
				<a ng-click="scrollTo('commentedPost')" alt="Ver los comentarios realizados por {{profile.username}}"
				title="Ver los comentarios realizados por {{profile.username}}"><span class="data-options">{{commented}} </span><span class="label-options">Comentarios realizados.</span></a> <br />
			</div>
		</div>
	</div>
		<div id="profileActions" ng-hide="ownProfile.blind">
			<ul>
				<li>
					<button class="btn btn-primary" ng-show="canEdit()" ng-class="{active:profileOptions==true}" ng-click="openOptions('profile')">
						Actividad
					</button>
				</li>
				<li>
					<button class="btn btn-primary" ng-show="canEdit()" ng-class="{active:avatarOptions==true}" ng-click="openOptions('avatar')">
						Cambiar Avatar
					</button>
				</li>
				<li>
					<button class="btn btn-primary" ng-show="canEdit()" ng-class="{active:passwordOptions==true}" ng-click="openOptions('pass')">
						Cambiar Contraseña
					</button>
				</li>
				<!--
				<li>
					<a ng-href="#/">
						<button class="btn btn-success">
							Volver al Inicio
						</button>
					</a>
				</li>
				-->
			</ul>
		</div>
	</div>
</div>

<div class="separador">
	<div class="section-title">
		<div class="postInfo" id="createdPost">
			<h2>Posts Creados
			</h2>
		</div>
		<div class="postActions">
			
				<i class="fa fa-folder-open help-info" title="Posts Creados"></i>
			<!--	<i class="glyphicon glyphicon-arrow-right"></i> -->
		</div>
	</div>
	<ul class="list-group profilePost" ng-hide="ownProfile.blind">
		<li class="list-group-item" ng-repeat="post in posts | orderBy : '-date' | startFrom:currentPage*pageSize | limitTo:pageSize">
			<div class="postInfo">
				<a class="text text-primary info" ng-href="#/posts/{{post.section}}/{{post.postId}}" alt='Ir al post "{{post.title}}"' title='Ir al post "{{post.title}}"'>{{post.title}}</a><br />
				<small><a ng-href="#/section/{{post.section}}" alt='Ir a la sección de {{post.sectionTitle}}' title='Ir a la sección de {{post.sectionTitle}}'>{{post.sectionTitle}}</a> | <span class="fecha">Creado el {{fechar(post.date) | date:'dd-MM-yyyy'}} a las {{fechar(post.date) | date:'HH:mm'}}</small>
			</div>
			<div class="postActions">
	    		<a ng-href="#/posts/{{post.section}}/{{post.postId}}" alt='Ir al post "{{post.title}}"' title='Ir al post "{{post.title}}"'><i class="fa fa-arrow-right"></i></a>
			</div>
		</li>
	</ul>
	<div class="postDetail-actions" ng-hide="ownProfile.blind">
		<ul class="left-menu" ng-show="numberOfPages()>1">
			<li>
				<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-primary prevPage">
						     <i class="fa fa-arrow-left"></i> Anterior
						 </button>
			</li>
				  <li class="post-Paginate">
						 {{currentPage+1}}/{{numberOfPages()}}
			</li>
			<li>
				<button ng-disabled="currentPage >= posts.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-primary nextPage">
					Siguiente <i class="fa fa-arrow-right"></i>
				</button>
			</li>
		</ul>
	</div>
</div>

<div class="separador" id="PostContent">
	<div class="section-title">
		<div class="postInfo" id="commentedPost">
			<h2>Posts Comentados
			</h2>
		</div>
		<div class="postActions">
			
				<i class="fa fa-folder-open help-info" title="Posts Comentados"></i>
			<!--	<i class="glyphicon glyphicon-arrow-right"></i> -->
		</div>
	</div>
	<div class="Posts">
		<ul class="list-group profilePost" ng-hide="ownProfile.blind">
			<li class="list-group-item" ng-repeat="post in comments | orderBy : '-date' | startFrom:currentCommentsPage*pageSize | limitTo:pageSize">
				<div class="postInfo">
					<a class="text text-primary info" ng-href="#/posts/{{post.section}}/{{post.postId}}" alt='Ir al post "{{post.title}}"' title='Ir al post "{{post.title}}"'>{{post.title}}</a><br />
					<small><a ng-href="#/section/{{post.section}}" alt='Ir a la sección de {{post.sectionTitle}}' title='Ir a la sección de {{post.sectionTitle}}'>{{post.sectionTitle}}</a> | <span class="fecha">Comentado el {{fechar(post.dateComment) | date:'dd-MM-yyyy'}} a las {{fechar(post.dateComment) | date:'HH:mm'}}</small>
				</div>
				<div class="postActions">
		    		<a ng-href="#/posts/{{post.section}}/{{post.postId}}" alt='Ir al post "{{post.title}}"' title='Ir al post "{{post.title}}"'><i class="fa fa-arrow-right"></i></a>
				</div>
			</li>
		</ul>
		<div class="postDetail-actions" ng-hide="ownProfile.blind">
			<ul class="left-menu" ng-show="numberOfCommentsPages()>1">
				<li>
					<button ng-disabled="currentCommentsPage == 0" ng-click="currentCommentsPage=currentCommentsPage-1" class="btn btn-primary prevPage">
							     <i class="fa fa-arrow-left"></i> Anterior
							 </button>
				</li>
					  <li class="post-Paginate">
							 {{currentCommentsPage+1}}/{{numberOfCommentsPages()}}
				</li>
				<li>
					<button ng-disabled="currentCommentsPage >= comments.length/pageSize - 1" ng-click="currentCommentsPage=currentCommentsPage+1" class="btn btn-primary nextPage">
						Siguiente <i class="fa fa-arrow-right"></i>
					</button>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--
<span ng-show="canEdit()" class="text text-success">Este es tu perfil, puedes editarlo.</span>
<span ng-hide="canEdit()" class="text text-danger">Este no es tu perfil, no puedes editarlo.</span>
-->
