<div class="separador">
	<div class="section-title">
		<div class="postInfo">
			<h2>Usuario no conectado</h2>
		</div>
		<div class="postActions">
			
				<i class="fa fa-user-times" title="Usuario no conectado"></i>
		</div>
	</div>
	<div class="unlogged">
		<p>
			<span class="text text-danger"><i class="fa fa-exclamation-triangle"></i> Para acceder a los contenidos del foro <b>necesitas estar conectado</b>.<br /><br /></span>

			<span class="text text-success"><i class="fa fa-info-circle"></i> Introduce tu <b>email</b> y <b>contraseña</b> en la barra superior para poder entrar.</span><br /><br />

			<span class="text text-primary"><i class="fa fa-info-circle"></i> Si todavía no dispones de cuenta en el foro, contacta con el <b><a href="mailto:dandomanos@gmail.com" title="Contactar con el administrador" alt="Contactar con el administrador">administrador</a></b>.</span>
		</p>
	</div>
	<!-- <div class="postDetail-actions">
		
	</div> -->
</div>
