<div class="separador">
	<div class="section-title">
		<div class="postInfo">
			<h2>Usuario eliminado</h2>
		</div>
		<div class="postActions">
			
				<i class="fa fa-user-times" title="Usuario eliminado"></i>
		</div>
	</div>
	<div class="unlogged">
		<p>
			<span class="text text-danger"><i class="fa fa-exclamation-triangle"></i> El <b>usuario</b> ha sido <b>eliminado</b>, contacte con el administrador para recuperar su acceso.</span>

		</p>
	</div>
	<!-- <div class="postDetail-actions">
		
	</div> -->
</div>
